@import '../../assets/mixins.scss';

.image-carousel {
    position: relative;
    overflow: hidden;
    .carousel-image {
        object-fit: cover;
    }
    .carousel-button {
        color: white;
        position: absolute;
        top: 50%;
        transform: rotate(45deg) translateY(-20%);
        background-color: rgba(255, 255, 255, 0);
        border: none;
        cursor: pointer;
        font-size: 24px;
            &.next {
                transform: rotate(225deg) translateX(20%);
                right: 0px;
            }
        @media (min-width: 1240px) {
                font-size: 80px;
        }    
    }
    .image-counter {
        display: none;
        @media (min-width: 1240px) {
            display: block;
            background-color: rgba(255, 255, 255, 0);
            color: #ffffff;
            font-size: 18px;
            font-weight: 500;
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}