@import '../../assets/mixins.scss';
@import '../../assets/variables.scss';

.logement-detail {
    display: flex;
    flex-direction: column;
    max-width: 1240px;
    margin: 0 auto;

    .logement-pictures img {
        width: 100%;
        height: 255px;
        border-radius: 10px; 
    }
    
    .logement-info-container {
        h2, p {
            text-align: start;
            font-weight: 500; 
        }

        h2 {
            color: $primary-color-text-and-components;
            font-size: 18px;
        }

        p {
            font-size: 14px;
        }

        .tags {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 10px;                    
            .tag {
                background-color: $primary-color-text-and-components;
                color: $secondary-color-text;
                padding: 4px 15px;
                border-radius: 10px;
                font-size: 10px;
                font-weight: 700;
            }
        }
    }

    .logement-host-rating {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin-top: 16px;
       
        .host-info {
            display: flex;
            align-items: center;
            font-weight: 500;
            color:$primary-color-text-and-components;
            font-size: 14px;
            p {
                margin: auto 10px;
                text-align: end;
            }
            img {
                border-radius: 70px;
                width: 32px;
                height: 32px;
            }
        }
    }

    .logement-details-collapses {
        margin-top: 20px; 
    }

    @media (min-width: 1240px) {

        .logement-pictures img {
            height: 415px;
        }

       .logement-info-container {
            h2 {
                font-size: 36px;
            }
            p {
                font-size: 18px;
            }
            .tags .tag {
                font-size: 14px;
            }
        }

        .container-info {
            display: grid;
            grid-template-columns: 1fr auto;
        }
    
        .logement-host-rating {
            justify-content: space-around;
            margin-top: 24px;
            flex-direction: column;
            align-items: flex-end;
            .host-info {
                font-size: 18px;
                img {
                    width: 64px;
                    height: 64px;
                }
            }        
        }
        .logement-details-collapses {
            display: flex;
            margin-top: 30px; 
            justify-content: space-between;
            > div {
                width: 47%;
            }
        }
    }
}