$text-color-default: #FFFFFF;

@mixin responsive-card {
    @content;

    .card {
    width: 100%;
    position:relative;
    border-radius: 10px;
    overflow: hidden;
    color: $text-color-default;
    
    }
    @media (min-width: 1240px) {
        .footer {
            color: $text-color-default;
        }
    }
}
