@import './assets/mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family:"Montserrat" ;    
}

body {
    margin: 0;
    @media (min-width: 1240px) {
        .header, .main-container {
        padding-left: 70px;
        padding-right: 70px;
        }
    }
}