@import '../../assets/mixins.scss';
@import '../../assets/variables.scss';

.error-page {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100%;
text-align: center;
padding: 0 20px;
color: $primary-color-text-and-components;
margin-bottom: 110px;
    
    h1 {
    font-size: 96px;
    font-weight: 700;
    margin-bottom: 110px;
        @media (min-width:1240px) {
            font-size: 288px;
        }
    }
    h2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 110px;
        @media (min-width:1240px) {
            font-size: 36px;
        }

    }
    .home-return {
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    &, :active, :focus {
        color: black;
        }
        @media (min-width:1240px) {
            font-size: 18px;
        }
    }
}